*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#f4f7fb;

    color:#222;

}

/* ==========================
Navbar
========================== */

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 60px;

    background:#111827;

    color:white;

}

.logo h2{

    font-size:30px;

}

.logo p{

    color:#cbd5e1;

    font-size:14px;

}

.nav-links{

    display:flex;

    gap:25px;

}

.nav-links a{

    color:white;

    text-decoration:none;

}

.nav-links a:hover{

    color:#60a5fa;

}

/* ==========================
Container
========================== */

.container{

    width:90%;

    margin:auto;

    padding:50px 0;

}

.hero{

    text-align:center;

    margin-bottom:50px;

}

.hero h1{

    font-size:46px;

    margin-bottom:20px;

}

.hero p{

    font-size:18px;

    color:#555;

}

/* ==========================
Cards
========================== */

.grid{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(320px,1fr));

gap:25px;

}

.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

text-align:center;

transition:.3s;

}

.card:hover{

transform:translateY(-5px);

}

.card img{

width:120px;

height:120px;

border-radius:50%;

margin-bottom:20px;

}

.card h2{

margin-bottom:10px;

}

.card p{

margin:10px 0;

color:#555;

}

.btn{

display:inline-block;

margin-top:20px;

background:#2563eb;

color:white;

padding:12px 20px;

text-decoration:none;

border-radius:8px;

}

/* ==========================
Footer
========================== */

footer{

text-align:center;

padding:40px;

margin-top:60px;

background:#111827;

color:white;

}

/* ==========================
Responsive
========================== */

@media(max-width:768px){

.navbar{

flex-direction:column;

gap:20px;

padding:25px;

}

.nav-links{

flex-direction:column;

}

.hero h1{

font-size:34px;

}

}